@model CrowdSourceDiscovery.Web.Models.ConnectionViewModel

@{
    ViewBag.Title = "Connection";
}


<div class="row">
    <div class="pull-left">
        <a href="@Url.Action("Index", "Connection")" class="btn btn-default"><span class="glyphicon glyphicon  glyphicon-arrow-left"> Back </span></a>
    </div>
    @if (Model.IsViewerCreator)
    {
        <div class="pull-right">
            <a href="@Url.Action("Edit", "Connection", new {id = Model.Id})" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-pencil"> Edit </span></a>
        </div>
    }

</div>

<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayNameFor(model => model.LinkOne)</h3>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.LinkOne)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayNameFor(model => model.LinkTwo)</h3>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.LinkTwo)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">

        <h3><small>Comments</small></h3>

        @foreach (var item in Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @item.Text
                </div>
                <div class="panel-footer text-right">
                    <small>by @item.Username</small>
                </div>
            </div>
        }

        <div class="pull-right">
            <a class="btn btn-default btn-lg" href="@Url.Action("Create", "Comment", new {id = @Model.Id})">Add Comment</a>
        </div>
    </div>


</div>



