@model CrowdSourceDiscovery.Web.Models.ConnectionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConnectionViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LinkOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkTwo)
        </dd>
        
        @foreach (var item in Model.Comments)
        {
            <dt>
                UserName
            </dt>
            <dd>
               @item.Text
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>
